.container{
    display: flex;
    align-items: center;
    justify-content:space-around;
}
input{
    height: 60px;
    width: 450px;
    border: 1px solid gray;
    border-radius: 10px;
}
.shipping{
    margin-top: 100px;
}
#dele , #tele{
    width: 180px;
    display: inline;
}
input::placeholder{
    font-size: 18px;
    text-indent: 20px;
}
.check{
    height: 30px;
    width: 30px;
}
.btn{
    padding:15px 50px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 8px;
    display: block;
    margin: auto;
}

.content2{
    background-color: rgb(253, 249, 249);
    padding: 50px;
    border: 1px solid white;
    border-radius: 20px;
}
.delai{
    display: flex;
}
 .product1,.product2{
    display: flex;
    justify-content: space-between;
}
 .dolar{
    color:goldenrod;
} 
.bin{
    width: 50%;
    padding-left: 50px;
}
.gor{
    height: 70px;
    width: 150px;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
}
hr{
    width: 100%;
    border: 1px solid black;
}
.ship{
    display: flex;
    justify-content: space-between;
}